
.main-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-container {
  max-width: 450px;
  margin: auto auto;
  width: 100%;
}

.form-body {
  background-color: var(--secondary-color);
  overflow: hidden;
  padding: 50px;
  color: var(--primary-color);
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 500px) {
  .form-body {
    padding: 50px 40px;
  }
}

@media only screen and (max-width: 455px) {
  .form-body {
    padding: 45px 30px;
  }
}

@media only screen and (max-width: 340px) {
  .form-body {
    padding: 30px 20px;
  }
}

.form-body .title {
  margin: 0;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

.invalid_login {
  color: red;
}

.social-login ul {
  list-style-type: none;
  margin: 30px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-login ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

.social-login ul li a {
  background-color: var(--white-color);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.social-login ul li a::before {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  margin-right: 5px;
}

.social-login ul li a:hover {
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

li.google {
  margin-right: 10px;
}

li.google a::before {
  background-image: url("google.png");
}

li.fb {
  margin-left: 10px;
}

li.fb a::before {
  margin: 0;
  background-image: url("fb.png");
}

@media only screen and (max-width: 400px) {
  .social-login ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  li.google,
  li.fb {
    margin: 0;
  }

  li.google {
    margin-bottom: 10px;
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  margin: 20px 0; /* Adjust spacing as needed */
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--primary-color); /* Line color */
  margin: 0 10px; /* Spacing between text and lines */
}

.or-divider span {
  font-size: 16px; /* Adjust text size as needed */
  color: var(--primary-color);
  font-weight: bold;
}


.the-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.the-form label {
  margin-bottom: 5px;
  color: var(--primary-color);
  font-weight: bold;
}

.the-form [type="email"],
.the-form [type="password"] {
  padding: 15px;
  font-size: 16px;
  background: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  color: var(--primary-color);
}

.the-form [type="email"]::-webkit-input-placeholder,
.the-form [type="password"]::-webkit-input-placeholder {
  color: var(--primary-color);
}

.the-form [type="email"]::-moz-placeholder,
.the-form [type="password"]::-moz-placeholder {
  color: var(--primary-color);
}

.the-form [type="email"]:-ms-input-placeholder,
.form-container .form-body .the-form [type="password"]:-ms-input-placeholder {
  color: var(--primary-color);
}

.the-form [type="email"]::-ms-input-placeholder,
.form-container .form-body .the-form [type="password"]::-ms-input-placeholder {
  color: var(--primary-color);
}

.the-form [type="email"]::placeholder,
.form-container .form-body .the-form [type="password"]::placeholder {
  color: var(--primary-color);
}

.the-form [type="email"]:hover,
.the-form [type="password"]:hover {
  -webkit-box-shadow: inset 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.the-form [type="email"]:focus,
.the-form [type="password"]:focus {
  background: #ffffff;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.the-form [type="email"]:focus::-webkit-input-placeholder,
.form-container .form-body .the-form [type="password"]:focus::-webkit-input-placeholder {
  color: #DDD;
}

.the-form [type="email"]:focus::-moz-placeholder,
.the-form [type="password"]:focus::-moz-placeholder {
  color: #DDD;
}

.the-form [type="email"]:focus:-ms-input-placeholder,
.the-form [type="password"]:focus:-ms-input-placeholder {
  color: #DDD;
}

.the-form [type="email"]:focus::-ms-input-placeholder,
.the-form [type="password"]:focus::-ms-input-placeholder {
  color: #DDD;
}

.the-form [type="email"]:focus::placeholder,
.the-form [type="password"]:focus::placeholder {
  color: #DDD;
}

.the-form [type="submit"] {
  background: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 18px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.the-form [type="submit"]:hover {
  opacity: 0.9;
}

.form-footer div {
  text-align: center;
  padding: 25px 20px;
  font-size: 18px;
  color: var(--primary-color);
}

.form-footer div a {
  color: var(--accent-hover-color);
}


.login-button {
    visibility: hidden;
}

/* Forgot Password Link Styling */
.forgot-password {
  display: inline-block;
  margin-top: -5px; /* Adjusts the spacing between input and link */
  font-size: 0.9em;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Styling for Alert Messages */
.alert-messages {
  margin: 20px 0;
}

.alert {
  padding: 10px;
  background-color: #ffcccb;
  color: #a94442;
  border: 1px solid #a94442;
  border-radius: 5px;
}

.the-form label {
  display: block; /* Ensures label takes up full width */
  margin-bottom: 5px;
  color: var(--primary-color);
  font-weight: bold;
}



.the-form input[type="text"],
.the-form input[type="email"],
.the-form input[type="password"] {
  display: block; /* Ensures input takes up full width */
  width: 100%; /* Ensures inputs are 100% width of the container */
  padding: 15px;
  font-size: 16px;
  background: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  color: var(--primary-color);
}


label[for="password2"] {
  margin-top: 20px; /* Add margin as needed */
}


.the-form [type="text"],
.the-form [type="email"],
.the-form [type="password"] {
  padding: 15px;
  font-size: 16px;
  background: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  color: var(--primary-color);
}



/* Placeholder color for all input fields */
.the-form [type="text"]::placeholder,
.the-form [type="email"]::placeholder,
.the-form [type="password"]::placeholder {
  color: var(--primary-color);
}

/* Hover effect for all input fields */
.the-form [type="text"]:hover,
.the-form [type="email"]:hover,
.the-form [type="password"]:hover {
  -webkit-box-shadow: inset 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

/* Focus effect for all input fields */
.the-form [type="text"]:focus,
.the-form [type="email"]:focus,
.the-form [type="password"]:focus {
  background: #ffffff;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Focused placeholder color */
.the-form [type="text"]:focus::placeholder,
.the-form [type="email"]:focus::placeholder,
.the-form [type="password"]:focus::placeholder {
  color: #DDD;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.criteria {
  color: red; /* Default to unmet criteria */
  font-size: 0.9em;
}

.criteria.met {
  color: green; /* Change to green when criteria are met */
}



.container {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h2 {
  color: #333;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  text-align: left;
  margin: 10px 0 5px;
  color: #555;
}

.container input[type="email"],
.container input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
}

.container button {
  padding: 10px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: var(--accent-hover-color);
}

.container p {
  margin-top: 10px;
}

.container a {
  color: var(--accent-color);
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container form li{
    color: #777; /* Grey color */
    font-size: 12px; /* Smaller font size */
    margin-top: 5px;
    font-style: italic;
}

.container .errorlist li {
    list-style-type: none; /* Remove bullet points */
    color: red;
    margin: 3px 0; /* Add some spacing between messages */
}

.big_container {
  font-family: Arial, sans-serif;
  background-color: var(--light-gray-color);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
