
/* Content Wrapper with Background Image */
#exam-detail .content-wrapper {
    position: relative;
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0), #f2f2f2), /* Gradient overlay */
        url('post_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px; /* Use min-height instead of fixed height */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 0;
}


#exam-detail .content-wrapper h2 {
    font-size: 2.8em;
    margin: 0;
    font-weight: bolder;
}


#exam-detail .content-wrapper h1 {
    font-size: 2.8em;
    margin: 0;
    font-weight: bolder;
}

#exam-detail .content-wrapper .simple-description {
    font-size: 1.2em;
    font-weight: bolder;
}


#exam-detail .content-wrapper .enrollment-count {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
    font-size: 1.1em;
    margin: 20px 0;
    width: 100%;
    font-weight: bold;
}


#exam-detail .content-wrapper .enrollment-count::before,
#exam-detail .content-wrapper .enrollment-count::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #555; /* Line color */
    margin: 0 10px; /* Space between text and lines */
}


/* Details Section with Image on Left and Info on Right */
#exam-detail .details-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Details Section with Image on Left and Info on Right */
#exam-detail .details-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

}

#exam-detail .cert-image img {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}


/* Exam Information styling */
#exam-detail .exam-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#exam-detail .exam-info p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}
#exam-detail .cert-details {
    text-align: left;
}


#exam-detail .cert-details h1 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

#exam-detail .cert-details h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

#exam-detail .cert-details h3 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 30px; /* Add space above each section */
}

#exam-detail .cert-details p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px; /* Add space below paragraphs */
}

#exam-detail .course-section ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

#exam-detail .course-section ul li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

#exam-detail .course-section ul li strong {
    font-weight: bold;
    color: #000;
}


.button-group {
    display: flex;
    gap: 20px; /* Space between buttons */
    margin-top: 10px;
}

/* Button Styling */
#exam-detail form {
    display: inline-block;
}

#exam-detail button {
    padding: 20px 35px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 2px solid var(--primary-color);
}


#exam-detail .purchase-button {
    padding: 20px 35px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--light-gray-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}


#exam-detail .purchase-button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#exam-detail .purchase-button:active {
    transform: scale(0.98); /* Slight scale down on click */
}


/* "Add to Cart" Button */
#exam-detail .cart-button {
    background-color: var(--accent-color); /* Blue color for Add to Cart */
    color: white;
}

#exam-detail .cart-button:hover {
    background-color: var(--accent-hover-color); /* Darker blue on hover */
}

#exam-detail .cart-button:active {
    transform: scale(0.98); /* Slight scale down on click */
}

/* Container Styling */
#exam-detail .course-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
}

/* Header Styling */
#exam-detail .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #f7f8fa;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid #ddd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: border-color 0.2s ease;
}

#exam-detail .content-header:hover {
    border-color: var(--primary-color);
}

/* Icon Styling */
#exam-detail .content-header .icon {
    transition: transform 0.3s ease;
}

/* Rotate icon when active */
#exam-detail .content-header.active .icon {
    transform: rotate(180deg);
}

/* Practice Tests List Styling */
#exam-detail .practice-tests {
    display: none; /* Hidden by default; change to 'block' to show by default */
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Individual Test Styling */
#exam-detail .practice-tests li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
}

/* Remove border from last item */
#exam-detail .practice-tests li:last-child {
    border-bottom: none;
}

/* Test Title Styling */
#exam-detail .practice-tests .test-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Minus Icon Styling */
#exam-detail .practice-tests .test-title .icon {
    font-size: 1.2em;
    color: #555;
}

/* Test Info Styling */
#exam-detail .practice-tests .test-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Mode Circle Styling */
#exam-detail .mode-circle {
    border-radius: 7px;
    height: 25px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Different colors for modes */
#exam-detail .mode-circle.review-mode {
    background-color: #52ab98; /* Review mode color */
    border: 5px solid #52ab98;
}

#exam-detail .mode-circle.test-mode {
    background-color: #ff6b6b; /* Test mode color */
    border: 5px solid #ff6b6b;
    margin-right: 16.3px;
}

/* Mode Explanation Styling */
#exam-detail .mode-explanation {
    padding: 20px;
    background-color: #f7f8fa;
    border-top: 1px solid #ddd;
}


#exam-detail .mode-explanation .review-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

#exam-detail .mode-explanation h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
    margin-top: 0px;
}

#exam-detail .mode-explanation p {
    margin-bottom: 10px;
    color: #555;
    line-height: 1.6;
}

#exam-detail .mode-explanation p strong {
    color: var(--primary-color);
}

/* Adjustments for responsiveness */
@media (max-width: 600px) {
    #exam-detail .practice-tests li {
        flex-direction: column;
        align-items: flex-start;
    }

    #exam-detail .practice-tests .test-info {
        margin-top: 10px;
    }
}


/* Other Courses Section Styling */
.other-courses-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1500px;
    width: 80%;
    margin: 70px auto;
    align-items: center;
}

.other-courses-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    width: 100%;
}


.other-course-item {
    box-sizing: border-box;  /* Includes padding and border in width */
    background-color: var(--secondary-color);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
    position: relative;
    flex-shrink: 1; /* Allows items to shrink if necessary */
}


.other-course-item:hover {
    background-color: var(--secondary-hover-color);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.other-course-item a {
    display: flex;
    flex-direction: column; /* Allows footer to be pushed to the bottom */
    height: 100%; /* Make each item the full height of its grid cell */
}

/* Course Image Styling */
.other-course-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Course Title Styling */
.other-courses-section h3 {
    font-size: 1.5em;
    color: var(--primary-color);
}
/* Course Title Styling */
.other-course-item h4 {
    font-size: 1.3em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* Course Description Styling */
.other-course-item p {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
}


/* Bottom Section Styling */
.other-course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray-color);
    border-top: 1px solid #ddd;
    padding: 0px 15px;
    border-radius: 10px; /* Rounded corners at the bottom */
    margin-top: auto;
}

.other-course-footer img.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 0;
}

.other-course-footer .price {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--primary-color);
}

/* No Courses Available Message */
.no-other-courses {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    padding: 20px;
}

/* Reviews Section Styling */
.reviews-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--light-gray-color);
    border-radius: 10px;
    text-align: left;
}

.reviews-section h3 {
    font-size: 1.8em;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-item {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
}

.review-content {
    flex: 3;
    font-size: 1em;
    color: #333;
    margin-right: 20px;
}

.review-meta {
    flex: 1;
    text-align: right;
    font-size: 0.9em;
    color: #777;
}

.review-meta strong {
    color: var(--primary-color);
    font-size: 1.1em;
}

.review-item .rating {
    font-weight: bold;
    color: #777;
}

/* No Reviews Message Styling */
.no-reviews {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    padding: 20px;
}


/* styles.css */
.discount-banner-post {
    background-color: #f94449;
    padding: 20px;
    text-align: center;
    border: 1px solid #f94449;
    margin-top: 10px;
}

.discount-banner-post .sale-name {
    font-weight: bold;
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

.discount-banner-post .countdown-timer {
    font-size: 16px;
    color: white;
}

/* Styles for the countdown timer */
.sale-countdown {
    margin-top: 10px;
    font-size: 16px;
    color: #f94449; /* Red color to highlight urgency */
    font-weight: bold;
}

.sale-countdown .countdown-timer {
    font-weight: bold;
}

/* Adjusting for Mobile View */
@media (max-width: 768px) {
    .reviews-section {
        padding: 15px;
    }

    .review-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .review-meta {
        text-align: left;
        margin-top: 10px;
    }
    .other-courses-wrapper {
        flex-wrap: wrap;
        width: auto;
    }
}

@media (max-width: 768px) {

    #exam-detail .content-wrapper h1 {
        font-size: 2.2em;
    }
    #exam-detail .content-wrapper h2 {
        font-size: 2.2em;
    }
}

@media (max-width: 576px) {

    #exam-detail .content-wrapper {
        padding: 0 30px;
        padding-top: 60px;
        padding-bottom: 0;
    }

    #exam-detail button {
        padding: 15px 25px;
        font-size: 0.9em;
    }

    #exam-detail .purchase-button {
        padding: 15px 25px;
        font-size: 0.9em;
    }
    #exam-detail .cert-image img {
        max-width: 180px;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
    }

    .details-section {
        flex-direction: column;
    }
    .reviews-section h3 {
        font-size: 1.5em;
    }
}
