<!-- myapp/my_learning.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}My Learning{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<div class="big_container">
    <div class="container">
        <h2>Forgot Password</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="email">Enter your email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Reset Password</button>
        </form>
        <p><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</div>
{% endblock %}
