{% extends "base.html" %}
{% load static %}

{% block title %}Payment Successful{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'extra.css' %}">
</head>

<div class="success-container">
    <img src="{% static 'checkmark.webp' %}" alt="Success" class="checkmark-icon">
    <h1 class="success-message">{{ message }}</h1>
    <p class="success-description">Your payment was processed successfully. Enjoy your course!</p>
    <a href="{% url 'my_learning' %}" class="my-learning-button">Go to My Learning</a>
</div>

{% endblock %}
