{% extends "base.html" %}
{% load static %}

{% block title %}Payment Canceled{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'extra.css' %}">
</head>

<div class="cancel-container">
    <img src="{% static 'cancelled.webp' %}" alt="Canceled" class="cancel-icon">
    <h1 class="cancel-message">{{ message }}</h1>
    <p class="cancel-description">If you wish to try again, please return to the course page.</p>
    <a href="{% url 'index' %}" class="return-home-button">Go to Homepage</a>
</div>

{% endblock %}
