{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="privacy_and_terms">
    <h1>Refund Policy</h1>
    <p class="effective-date">Effective Date: Nov. 6, 2024</p>

    <p>At mangocerts.com, we strive to ensure customer satisfaction with our products and services. This Refund Policy explains when you may be eligible for a refund and the process to request one. Please read this policy carefully before making a purchase.</p>

    <h2>1. Eligibility for Refunds</h2>
    <p>To be eligible for a refund, you must meet the following conditions:</p>
    <ul>
        <li>The request for a refund is made within 14 days of the purchase date.</li>
        <li>You have not accessed or used more than 25% of the course content or resources.</li>
        <li>The product or service was purchased directly through our website.</li>
    </ul>

    <h2>2. Non-Refundable Products and Services</h2>
    <p>The following products and services are non-refundable:</p>
    <ul>
        <li>Downloaded materials or content that has been accessed or viewed in full.</li>
        <li>Gift cards or promotional credits.</li>
    </ul>

    <h2>3. Refund Process</h2>
    <p>If you meet the eligibility criteria above and wish to request a refund, please follow these steps:</p>
    <ul>
        <li>Contact our support team using the <a href="{% url 'contact_us' %}">Contact Us</a> form with the course that you want to refund and reason for requesting a refund.</li>
        <li>Our team will review your request and may request additional information or clarification.</li>
        <li>If your request is approved, the refund will be processed to the original payment method within 7 business days.</li>
    </ul>

    <h2>4. Partial Refunds</h2>
    <p>There are no partial refunds granted.</p>

    <h2>5. Changes to This Policy</h2>
    <p>We reserve the right to modify this Refund Policy at any time. Any changes will be posted on this page with an updated effective date. We encourage you to review this policy periodically to stay informed of any updates.</p>

    <h2>6. Contact Us</h2>
    <p>If you have questions about this Refund Policy, please contact us at:</p>
    <ul>
        <li>Email: <a href="mailto:certsmango@gmail.com">certsmango@gmail.com</a></li>
    </ul>

    <p>Thank you for choosing mangocerts.com. We value your trust and are committed to providing a quality experience.</p>
</div>
{% endblock %}
    