{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
    <div class="big_container">
        <div class="container">
            <h2>Reset Your Password</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}